.nav li{
    cursor: pointer;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 20px;
    border: solid;
    border-color: black;
    text-align: center;
}

.nav li.active{
    
    background-color: lightblue;
} 